//- extends layout
//- 
//- block content
//-   body(class="page-schedules")
//-     div(id="schedules-main")
//-       div(class="container-fluid")
//-         div(class="row")
//-           div(class="sidebar col-sm-4")
//-             div(class="sidebar-fixed")
//-           div(class="schedule-content col-sm-8")
//-             div(id="schedules-banner" class="flexcontainer")
//-               //- img(src="/images/uk_main.png" class="img-responsive")
//-             div(class="schedules-title")
//-               p #{scheduleName} Schedule
//-             div(class="schedule-wrapper clearfix")
//-               div(id="schedules-grid")
//-                 each game in games.gameData
//-                   div(id=game.gameId class="schedule-grid-row")
//-                     if (compositeSchedule)
//-                       div(class="schedule-grid-item grid-sport flexcontainer")
//-                         p(class="rotate") #{game.sport}
//-                     div(class="schedule-grid-item grid-logo")
//-                       if (game.opponentLogo)
//-                         img(src=game.opponentLogo)
//-                       else
//-                         img(src="/images/uk_default.png")
//-                     div(class="schedule-grid-item grid-game-info")
//-                       p(class="schedule-gametime")
//-                         span(class="day") #{game.gameDay}
//-                         if (game.gameTime)
//-                           span(class="time") #{game.gameTime}
//-                       p(class="schedule-opponent")
//-                         if (game.homeGame)
//-                           span(class="home-away home-game") vs
//-                         else
//-                           span(class="home-away away-game") at
//-                         span(class="schedule-opponent-name") #{game.opponentName}
//-                       p(class="schedule-promo") #{game.gamePromoName}
//-                     div(class="schedule-grid-item grid-location")
//-                       p(class="location") #{game.location}
//-                       p(class="provider") #{game.tvProvider}
//-                     div(class="schedule-grid-item grid-results flexcontainer")
//-                       span #{game.gameResult}

extends layout

block content
  body(class="page-schedules")
    div(id="schedules-main")
      div(class="container-fluid")
        div(class="row")
          div(class="schedule-content col-sm-12")
            //- div(class="schedules-title")
            //-   p #{scheduleName} Schedule
            div(class="schedule-wrapper clearfix")
              div(id="schedules-grid" class="container-fluid")
                each game in games.gameData
                  div(id=game.gameId class="schedule-grid-row row")
                    if (compositeSchedule)
                      div(class="schedule-grid-item grid-sport flexcontainer")
                        p(class="rotate") #{game.sport}
                    div(class="schedule-grid-item grid-logo")
                      if (game.opponentLogo)
                        img(src=game.opponentLogo)
                      else
                        img(src="/images/uk_default.png")
                    div(class="schedule-grid-item grid-game-info")
                      p(class="schedule-gametime")
                        span(class="day") #{game.gameDay}
                        if (game.gameTime)
                          span(class="time") #{game.gameTime}
                      p(class="schedule-opponent")
                        if (game.homeGame)
                          span(class="home-away home-game") vs
                        else
                          span(class="home-away away-game") at
                        span(class="schedule-opponent-name") #{game.opponentName}
                      p(class="schedule-promo") #{game.gamePromoName}
                    div(class="schedule-grid-item grid-location")
                      p(class="location") #{game.location}
                      p(class="provider") #{game.tvProvider}
                    div(class="schedule-grid-item grid-results flexcontainer")
                      span #{game.gameResult}
